body {
    font-family: Roboto, sans-serif ;
    background-color: rgb(234, 231, 231);
}

.home {
}

.home__wrapper {
    min-height: 100%;
    overflow: clip;
    position: relative;
    display: flex;
    flex-direction: column;
}

.home__wrapper > main {
    flex-grow: 1;
}

.home__container {
    min-width: 1230px;
    padding: 30px 15px;
    margin: 0 auto;
}

.home__homework {
}

.homework {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(198, 225, 241);
    border-radius: 1%;
    min-width: 100%;
}

.homework__header {
}

.homework__title {
    color: #fff;
}

.homework__author {
    text-decoration: underline;
}

.homework__tasks, .add-task__item {
    padding: 20px 0;
    font-weight: 700;
}

.task {

}

.task__item {
    padding: 20px 0;
    font-weight: 700;
}

.task__item a, .add-task a {
    color: rgb(222, 134, 46);
}

.homework__additional-tasks {
}

.homework__add-tasks {
    padding: 20px 0;
    font-weight: 700;
}

.add-task {
}

.add-task__item {
}

.active {}

.active::before {
    content: '+';
    color: red;
}